<div class="content">
  <div class="container align-items-center justify-content-center">
    <div class="row align-items-center justify-content-center">
      <h2 class="display-4 text-center">
        Reskill Yourself With Skilled Trainers
      </h2>
      <p class="lead text-center">
        An IT training, job skilling and talent transformation company with
        industry oriented training solutions for individuals, corporates and the
        academia.
      </p>

      <form class="example-form">
        <!-- <mat-form-field class="example-full-width"> -->
          <input mat-elevation-z8 placeholder="What would you learn today?" />
        <!-- </mat-form-field> -->
        <!-- <mat-form-field> -->
          <a mat-button routerLink="/search">Search</a>
        <!-- </mat-form-field> -->
      </form>
    </div>
  </div>
</div>
