<div class="content">
  <div class="mb-5 text-center head">
    <h1>Completed Trainings - Wes Bos</h1>
  </div>

  <div class="example-container mat-elevation-z8">
    <div class="example-header">
      <mat-form-field>
        <input
          matInput
          (keyup)="applyFilter($event.target.value)"
          placeholder="Filter"
        />
      </mat-form-field>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="sno">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          S.No.
        </mat-header-cell>
        <mat-cell *matCellDef="let training"> {{ training.sno }} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="trainingId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Training ID
        </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ training.trainingId }}
        </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="domain">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Domain
        </mat-header-cell>
        <mat-cell *matCellDef="let training"> {{ training.domain }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Price
        </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ training.price | currency: "INR":"symbol" }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Start Date
        </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ training.startDate }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="duration">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Duration
        </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ training.duration }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="trainer">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Trainer
        </mat-header-cell>
        <mat-cell *matCellDef="let training"> {{ training.trainer }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rating">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Rating
        </mat-header-cell>
        <mat-cell *matCellDef="let training">
          {{ training.rating }} <mat-icon>star_border</mat-icon>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator
      #paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      [showFirstLastButtons]="true"
    >
    </mat-paginator>
  </div>
</div>
