.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #1cb5e0,
    #000046
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #1cb5e0,
    #000046
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 90vh;
  padding: 0;
  margin: 0;
}

/* :root {
  --f-desktop: 50vw;
  --f-tablet: 70vw;
  --f-mobile: 80vw;
  --ip-d: 20vw;
  --ip-t: 40vw;
  --ip-m: 60vw;
} */

/* laptops & desktops */
/* @media (min-width: 1025px) {
    .form-signin {
      width: var(--f-desktop);
    }
    input, .form-content {
      width: var(--ip-d);
    }
  } */

/* tablets */
/* @media (min-width: 768px) and (max-width: 1024px) {
    .form-signin {
      width: var(--f-tablet);
    }
    input, .form-content {
      width: var(--ip-t);
    }
  } */

/* mobile */
/* @media (min-width: 320px) and (max-width: 480px) {
    .form-signin {
      width: var(--f-mobile);
    }
    input, .form-content {
      width: var(--ip-m);
    }
  } */

.form-signin {
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  width: 35vw;
}
input#inputEmail,
input#inputPassword,
select {
  margin-bottom: 20px;
}
button {
  background-color: #000046 !important;
  margin-top: 20px;
}
.form-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  margin-top: 15vh;
}
