<div class="content">
  <form class="form-signin">
    <div class="form-content mx-auto my-auto">
      <img src="./../../assets/mod-logo.png" alt="" width="150" height="150" class="mt-5" />
      <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
      <label for="role" class="sr-only">Gender</label>
      <select class="form-control" id="role">
        <option disabled selected>Select your role</option>
        <option>User</option>
        <option>Mentor</option>
        <option>Admin</option>
      </select>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input
        type="email"
        id="inputEmail"
        class="form-control"
        placeholder="Email address"
        required
        autofocus
      />
      <label for="inputPassword" class="sr-only">Password</label>
      <input
        type="password"
        id="inputPassword"
        class="form-control"
        placeholder="Password"
        required
      />
      <a
        class="btn btn-lg btn-primary btn-block"
        role="button"
        href="4-UserLandingPage.html"
        >Sign in</a
      >
      <div>OR</div>
      <h6
        >Sign up as <a href="2-UserSignUp.html">User</a> or
        <a href="3-MentorSignUp.html"> Mentor</a>.</h6
      >
      <!-- <h7>New mentor? <a href="#">Sign up as mentor </a>here.</h7> -->
      <p class="mt-5 mb-3 text-muted text-center">
        <small
          >Copyright &copy; 2019 Mentor On Demand. All Rights Reserved</small
        >
      </p>
    </div>
  </form>
</div>
