<div class="content">
  <div class="container align-items-center justify-content-center">
    <div class="row align-items-center justify-content-center">
      
      <mat-card class="form-card">
        <form>
            <h1>Search</h1>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Search...">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput type="date">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <mat-select placeholder="Domain">
                    <mat-option *ngFor="let domain of domains" [value]="domain.value">
                      {{ domain.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                  <button mat-raised-button>Search</button>
  
        </form>
      </mat-card>
      
      <!-- <form>
        <div
          class="form-row d-flex flex-wrap justify-content-around align-items-center"
        >
          <div>
            <input
              class="form-control form-control-lg text-center"
              type="text"
              placeholder="What would you like to learn today?"
              value="React JS"
            />
          </div>
          <div>
            <input
              class="form-control form-control-lg text-center"
              type="date"
              placeholder="Start Date"
            />
          </div>
          <div class="form-group-lg">
            <select class="form-control-lg" id="exampleFormControlSelect1">
              <option disabled selected>Select Domain</option>
              <option>Front-end</option>
              <option>Back-end</option>
              <option>DevOps</option>
              <option>Amazon AWS</option>
              <option>Mobile App Development</option>
              <option>Web App Development</option>
            </select>
          </div>
          <div class="align-middle">
            <button type="submit" class="btn btn-lg btn-dark btn-block">
              Search
            </button>
          </div>
        </div>
      </form> -->

      <div class="row mb-5 mt-5">
        <div class="col-sm-4 mb-3">
          <div class="card">
            <img
              src="https://i.pravatar.cc/300"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Alice Fox</h5>
              <h6 class="card-subtitle mb-2 text-muted">✔️ Available</h6>
              <div class="card-text">
                <small class="text-muted">Skills</small>
                <div>Java, Angular, JavaScript, React, Vue, Flutter</div>
                <div class="row">
                  <div class="col">
                    <small class="text-muted">No. of Trainings</small>
                    <div>23</div>
                  </div>
                  <div class="col">
                    <small class="text-muted">Experience</small>
                    <div>2 Years</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <small class="text-muted">Work Timings</small>
                    <div>9 AM - 6 PM</div>
                  </div>
                  <div class="col">
                    <small class="text-muted">Rating</small>
                    <div>4.6 &#9733;</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <a
                href="10-MentorProfile.html"
                role="button"
                class="btn btn-primary"
                >See Profile</a
              >
            </div>
          </div>
        </div>

        <div class="col-sm-4 mb-3">
          <div class="card">
            <img
              src="https://i.pravatar.cc/300"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Alice Fox</h5>
              <h6 class="card-subtitle mb-2 text-muted">✔️ Available</h6>
              <div class="card-text">
                <small class="text-muted">Skills</small>
                <div>Java, Angular, JavaScript, React, Vue, Flutter</div>
                <div class="row">
                  <div class="col">
                    <small class="text-muted">No. of Trainings</small>
                    <div>23</div>
                  </div>
                  <div class="col">
                    <small class="text-muted">Experience</small>
                    <div>2 Years</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <small class="text-muted">Work Timings</small>
                    <div>9 AM - 6 PM</div>
                  </div>
                  <div class="col">
                    <small class="text-muted">Rating</small>
                    <div>4.6 &#9733;</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <a
                href="10-MentorProfile.html"
                role="button"
                class="btn btn-primary"
                >See Profile</a
              >
            </div>
          </div>
        </div>

        <div class="col-sm-4 mb-3">
          <div class="card">
            <img
              src="https://i.pravatar.cc/300"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Alice Fox</h5>
              <h6 class="card-subtitle mb-2 text-muted">✔️ Available</h6>
              <div class="card-text">
                <small class="text-muted">Skills</small>
                <div>Java, Angular, JavaScript, React, Vue, Flutter</div>
                <div class="row">
                  <div class="col">
                    <small class="text-muted">No. of Trainings</small>
                    <div>23</div>
                  </div>
                  <div class="col">
                    <small class="text-muted">Experience</small>
                    <div>2 Years</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <small class="text-muted">Work Timings</small>
                    <div>9 AM - 6 PM</div>
                  </div>
                  <div class="col">
                    <small class="text-muted">Rating</small>
                    <div>4.6 &#9733;</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <a
                href="10-MentorProfile.html"
                role="button"
                class="btn btn-primary"
                >See Profile</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-sm-4 mb-3">
          <div class="card">
            <img
              src="https://i.pravatar.cc/300"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Alice Fox</h5>
              <h6 class="card-subtitle mb-2 text-muted">✔️ Available</h6>
              <div class="card-text">
                <small class="text-muted">Skills</small>
                <div>Java, Angular, JavaScript, React, Vue, Flutter</div>
                <div class="row">
                  <div class="col">
                    <small class="text-muted">No. of Trainings</small>
                    <div>23</div>
                  </div>
                  <div class="col">
                    <small class="text-muted">Experience</small>
                    <div>2 Years</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <small class="text-muted">Work Timings</small>
                    <div>9 AM - 6 PM</div>
                  </div>
                  <div class="col">
                    <small class="text-muted">Rating</small>
                    <div>4.6 &#9733;</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <a
                href="10-MentorProfile.html"
                role="button"
                class="btn btn-primary"
                >See Profile</a
              >
            </div>
          </div>
        </div>

        <div class="col-sm-4 mb-3">
          <div class="card">
            <img
              src="https://i.pravatar.cc/300"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Alice Fox</h5>
              <h6 class="card-subtitle mb-2 text-muted">✔️ Available</h6>
              <div class="card-text">
                <small class="text-muted">Skills</small>
                <div>Java, Angular, JavaScript, React, Vue, Flutter</div>
                <div class="row">
                  <div class="col">
                    <small class="text-muted">No. of Trainings</small>
                    <div>23</div>
                  </div>
                  <div class="col">
                    <small class="text-muted">Experience</small>
                    <div>2 Years</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <small class="text-muted">Work Timings</small>
                    <div>9 AM - 6 PM</div>
                  </div>
                  <div class="col">
                    <small class="text-muted">Rating</small>
                    <div>4.6 &#9733;</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <a
                href="10-MentorProfile.html"
                role="button"
                class="btn btn-primary"
                >See Profile</a
              >
            </div>
          </div>
        </div>

        <div class="col-sm-4 mb-3">
          <div class="card">
            <img
              src="https://i.pravatar.cc/300"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Alice Fox</h5>
              <h6 class="card-subtitle mb-2 text-muted">✔️ Available</h6>
              <div class="card-text">
                <small class="text-muted">Skills</small>
                <div>Java, Angular, JavaScript, React, Vue, Flutter</div>
                <div class="row">
                  <div class="col">
                    <small class="text-muted">No. of Trainings</small>
                    <div>23</div>
                  </div>
                  <div class="col">
                    <small class="text-muted">Experience</small>
                    <div>2 Years</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <small class="text-muted">Work Timings</small>
                    <div>9 AM - 6 PM</div>
                  </div>
                  <div class="col">
                    <small class="text-muted">Rating</small>
                    <div>4.6 &#9733;</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <a
                href="10-MentorProfile.html"
                role="button"
                class="btn btn-primary"
                >See Profile</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>