<div class="content">
    <form class="form-signin">
        <div class="form-content mx-auto my-auto">
          <img class="logo" src="./../../assets/mod-logo.png" alt="" width="150" height="150" />
          <h1 class="h3 mb-3 font-weight-normal text-center">Sign Up</h1>
          <label for="name" class="sr-only">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Full Name"
            class="form-control"
            autofocus
            required
          />
          <label for="gender" class="sr-only">Gender</label>
          <select class="form-control" id="gender">
            <option disabled selected>Select your gender</option>
            <option>Male</option>
            <option>Female</option>
            <option>Don't want to specify</option>
          </select>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input
            type="email"
            id="inputEmail"
            class="form-control"
            placeholder="Email address"
            required
          />
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="code">+91</span>
            </div>
            <input
              type="tel"
              class="form-control"
              placeholder="Contact"
              aria-label="contact"
              aria-describedby="contact"
              maxlength="10"
              minlength="10"
              required
            />
          </div>
          <label for="inputPassword" class="sr-only">Password</label>
          <input
            type="password"
            id="inputPassword"
            class="form-control"
            placeholder="Password"
            required
          />
          <label for="confirmPassword" class="sr-only">Confirm Password</label>
          <input
            type="password"
            id="confirmPassword"
            class="form-control"
            placeholder="Confirm Password"
            required
          />
          <a
            class="btn btn-lg btn-primary btn-block"
            role="button"
            href="1-Login.html"
          >
            Sign Up
          </a>
          <div class="text-muted external">
            Already a member? <a href="1-Login.html">Login</a> here.
          </div>
          <div class="text-muted external">
            Sign up as a <a href="3-MentorSignUp.html">mentor</a> instead.
          </div>
        </div>
      </form>  
</div>
