:root {
  --f-desktop: 35vw;
  --f-tablet: 60vw;
  --f-mobile: 80vw;
  --ip-d: 20vw;
  --ip-t: 40vw;
  --ip-m: 60vw;
}

/* laptops & desktops */
@media (min-width: 1025px) {
  .form-signin {
    width: var(--f-desktop);
  }
  .mat-form-field,
  .form-content {
    width: var(--ip-d);
  }
}

/* tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .form-signin {
    width: var(--f-tablet);
  }
  .mat-form-field,
  .form-content {
    width: var(--ip-t);
  }
}

/* mobile */
@media (min-width: 320px) and (max-width: 480px) {
  .form-signin {
    width: var(--f-mobile);
    height: 95vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
  }
  .mat-form-field,
  .form-content {
    width: var(--ip-m);
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  background-repeat: repeat-x repeat-y;
  height: 100vh;
}
.form-signin {
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  /* margin-top: 10vh; */
  margin-bottom: 10vh;
  /* height: 80vh; */
  padding: 30px;
}

.mat-raised-button {
  background-color: #d81b60 !important;
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  width: 80%;
  margin-bottom: 10px;
}
.mat-raised-button:hover {
  text-decoration: none;
}

.form-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  margin-top: 15vh;
}