<div class="content">
  <!-- <nav
    class="navbar navbar-dark sticky-top navbar-expand-md"
  > -->
    <!-- <a class="navbar-brand" href="#">
      <img
        src="https://s3-ap-southeast-1.amazonaws.com/tv-prod/member/photo/2743889-large.png"
        width="150"
        height="110"
        alt=""
      />
    </a> -->
    <!-- <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-md-center"
      id="navbarNav"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="6-OngoingTrainings.html"
            >Ongoing Trainings</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="5-CompletedTrainings.html"
            >Completed Trainings</a
          >
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
      <ul class="navbar-nav mr-auto justify-content-md-center">
        <li class="nav-item">
          <a class="nav-link" href="#">Notifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="2-Login.html">Logout</a>
        </li>
      </ul>
    </div> -->
  <!-- </nav> -->

  <div class="container align-items-center justify-content-center">
    <div class="row align-items-center justify-content-center">
      <h1 class="display-1 text-center">Welcome to IIHT</h1>
      <p class="lead text-center">
        An IT training, job skilling and talent transformation company with
        industry oriented training solutions for individuals, corporates and the
        academia.
      </p>
    </div>
  </div>
</div>
