<div class="content">
  <!-- <nav -->
      <!-- class="navbar navbar-dark sticky-top navbar-expand-md"> -->
      <!-- <a class="navbar-brand" href="#">
        <img
          src="https://s3-ap-southeast-1.amazonaws.com/tv-prod/member/photo/2743889-large.png"
          width="150"
          height="110"
          alt=""
        />
      </a> -->
      <!-- <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-md-center"
        id="navbarNav"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#"
              >Home </a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="6-OngoingTrainings.html"
              >Ongoing Trainings</a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="5-CompletedTrainings.html"
              >Completed Trainings<span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
        <ul class="navbar-nav mr-auto justify-content-md-center">
          <li class="nav-item">
            <a class="nav-link" href="#">Notifications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="2-Login.html">Logout</a>
          </li>
        </ul>
      </div> -->
    <!-- </nav> -->

    <div class="container align-items-center justify-content-center">
      <div class="row align-items-center justify-content-center">
        <h1 class="display-4">Completed Trainings</h1>
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">S.No.</th>
              <th scope="col">Training ID</th>
              <th scope="col">Domain</th>
              <th scope="col">Capacity</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Trainer</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>68926</td>
              <td>Java Full Stack</td>
              <td>60</td>
              <td>12-07-2019</td>
              <td>30-09-2019</td>
              <td>John Cena</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>68927</td>
              <td>MEAN Stack</td>
              <td>60</td>
              <td>06-07-2019</td>
              <td>28-09-2019</td>
              <td>Triple H</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>68927</td>
              <td>MERN Stack</td>
              <td>60</td>
              <td>08-02-2019</td>
              <td>16-04-2019</td>
              <td>Shawn Michales</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>68928</td>
              <td>Dev Ops</td>
              <td>60</td>
              <td>11-04-2019</td>
              <td>21-07-2019</td>
              <td>Steve Austin</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>68929</td>
              <td>Firebase Tools</td>
              <td>60</td>
              <td>15-07-2019</td>
              <td>14-09-2019</td>
              <td>Big Show</td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td>68930</td>
              <td>Git & GitHub</td>
              <td>60</td>
              <td>26-02-2019</td>
              <td>19-04-2019</td>
              <td>Randy Orton</td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td>68931</td>
              <td>Amazon AWS</td>
              <td>60</td>
              <td>14-03-2019</td>
              <td>16-05-2019</td>
              <td>Rey Mysterio</td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-around"> 
          <div class="card" style="width: 18rem;">
            <img src="https://miro.medium.com/max/512/1*cKG1LJvVTaWqSkYSyVqtsQ.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tensorflow</h5>
              <p class="card-text">TensorFlow is a free and open-source software library for dataflow and differentiable programming across a range of tasks</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="https://video-react.js.org/assets/logo.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">React</h5>
              <p class="card-text">React is a JavaScript library for building user interfaces maintained by Facebook.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="https://miro.medium.com/max/800/1*gH1iKXJH8T12LIqhboZWEA.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Flutter</h5>
              <p class="card-text">Flutter is an open-source mobile application development framework created by Google</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>