@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-card {
  display: flex;
  flex-direction: column;
  width: 50vw;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}