<div class="content">
    <div class="card text-center mt-3 mat-elevation-z8">
        <div class="card-header">
          Featured Mentor
        </div>
        <div class="card-body">
          <div class="text-center">
            <img src="https://miro.medium.com/max/3150/1*PL6Wuti2QKCu2gZF8bPhnw.jpeg" class="rounded" alt="...">
          </div>
          <h5 class="card-title mt-2">Addy Osmani</h5>
          <p class="card-text">Mobile App Developer and JavaScript Geek.</p>
          <small>Skills</small>
          <div>React, React Native, JavaScript, Ionic Framework, HTML, CSS, Git</div>
          <div class="row">
            <div class="col">
              <small>Rating</small>
              <div class="bold">4.6 &#9733;</div>
            </div>
            <div class="col">
              <small>Experience</small>
              <div class="bold">3 Years</div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <small>No. of Trainigs</small>
              <div class="bold">38</div>
            </div>
            <div class="col">
              <small>Work Timing</small>
              <div class="bold">5 PM - 11 PM</div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <small>Email</small>
              <div class="bold">addy@gmail.com</div>
            </div>
            <div class="col">
              <small>Country</small>
              <div class="bold">USA</div>
            </div>
          </div>
          <button mat-button color="accent">Send Proposal</button>
        </div>
        <div class="card-footer text-muted">
          Mentor Since 2017
        </div>
      </div>
</div>