<div class="content">
  <div class="mt-5 mb-5 text-center head">
    <h1>Edit Technologies</h1>
  </div>
  <div class="contain ml-3 mr-3">
    <div class="grid-parent">

      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="https://cdn.svgporn.com/logos/angular-icon.svg" class="card-img align-middle p-3" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Angular</h5>
              <p class="card-text">
                Angular is a platform for building mobile and desktop web applications.
              </p>
              <p class="card-text">
                <small>Fee</small>
                <span>Rs. 2999</span></p>
              <p class="card-text">
                <a href="#" class="card-link">Edit</a>
                <a href="#" class="card-link">Change Fee</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="https://cdn.svgporn.com/logos/aws.svg" class="card-img align-middle  p-3" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Amazon AWS</h5>
              <p class="card-text">
                Amazon Web Services offers reliable, scalable, and inexpensive cloud computing services.
              </p>
              <p class="card-text">
                <small>Fee</small>
                <span>Rs. 1499</span>
              </p>
              <p class="card-text">
                <a href="#" class="card-link">Edit</a>
                <a href="#" class="card-link">Change Fee</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="https://cdn.svgporn.com/logos/bootstrap.svg" class="card-img align-middle p-3" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Bootstrap</h5>
              <p class="card-text">
                Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web
                development.
              </p>
              <p class="card-text">
                <small>Fee</small>
                <span>Rs. 2449</span>
              </p>
              <p class="card-text">
                <a href="#" class="card-link">Edit</a>
                <a href="#" class="card-link">Change Fee</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="https://cdn.svgporn.com/logos/nodejs-icon.svg" class="card-img align-middle p-3" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Node JS</h5>
              <p class="card-text">
                Node.js is an open-source, cross-platform JavaScript run-time environment
              </p>
              <p class="card-text">
                <small>Fee</small>
                <span>Rs. 4299</span>
              </p>
              <p class="card-text">
                <a href="#" class="card-link">Edit</a>
                <a href="#" class="card-link">Change Fee</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="https://cdn.svgporn.com/logos/react.svg" class="card-img align-middle p-3" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">React</h5>
              <p class="card-text">
                React is a JavaScript library for building user interfaces
              </p>
              <p class="card-text">
                <small>Fee</small>
                <span>Rs. 3499</span>
              </p>
              <p class="card-text">
                <a href="#" class="card-link">Edit</a>
                <a href="#" class="card-link">Change Fee</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4 d-flex justify-content-center align-items-center">
            <img src="https://cdn.svgporn.com/logos/flutter.svg" class="card-img align-middle p-3" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Flutter</h5>
              <p class="card-text">
                Flutter is an open-source mobile application development framework created by Google
              </p>
              <p class="card-text">
                <small>Fee</small>
                <span>Rs. 1599</span>
              </p>
              <p class="card-text">
                <a href="#" class="card-link">Edit</a>
                <a href="#" class="card-link">Change Fee</a>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="mb-5 mt-5 text-center head">
    <h1>Add Technologies</h1>
  </div>
  <div class="contain">


    <form class="shadow p-3 mb-5 bg-white rounded">
      <div class="form-group row">
        <label for="tech" class="col-sm-2 col-form-label">Technology</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="tech" placeholder="Enter your technology">
        </div>
      </div>
      <div class="form-group row">
        <label for="domain" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="domain" placeholder="Enter description">
        </div>
      </div>
      <fieldset class="form-group">
        <div class="row">
          <legend class="col-form-label col-sm-2 pt-0">Domain</legend>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
              <label class="form-check-label" for="gridRadios1">
                Web App
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
              <label class="form-check-label" for="gridRadios2">
                Mobile App
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
              <label class="form-check-label" for="gridRadios3">
                Database
              </label>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="form-group row">
        <div class="col-sm-2">Price</div>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="exp" min="0">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Add Skill</button>
        </div>
      </div>
    </form>
  </div>

</div>